.page-wrapper h1:first-child {
  font-family: "Roboto Slab", serif;
  font-weight: normal;
  padding-bottom: 30px;
  margin-top: 80px;
  font-size: 80px; }

.page-wrapper h2, .page-wrapper h3, .page-wrapper h4, .page-wrapper h5 {
  font-family: "Roboto Slab", serif;
  font-weight: normal;
  font-size: 2.5em;
  padding: 0.5em 0; }
  .page-wrapper h2 a:first-child::before, .page-wrapper h3 a:first-child::before, .page-wrapper h4 a:first-child::before, .page-wrapper h5 a:first-child::before {
    content: "#";
    padding-right: 10px;
    color: #0078cf; }

.page-wrapper h3 {
  font-size: 1.5em;
  font-weight: bold; }

.page-wrapper h4 {
  font-size: 1.2em;
  font-weight: bold; }

.page-wrapper h5 {
  font-size: 1em;
  font-weight: bold; }

.page-wrapper p {
  font-size: 1em; }

.page-wrapper table {
  margin: 1em 0;
  display: block;
  overflow-x: auto; }
  .page-wrapper table td:last-child {
    width: 100%; }
  .page-wrapper table td.comment {
    min-width: 200px; }

.page-wrapper pre.line-numbers {
  border: 1px solid rgba(0, 0, 0, 0.1); }
  .page-wrapper pre.line-numbers code {
    background: transparent;
    padding: 0em;
    line-height: 1.4em; }

.page-wrapper pre[class*="language-"]::selection,
.page-wrapper pre[class*="language-"] ::selection,
.page-wrapper code[class*="language-"]::selection,
.page-wrapper code[class*="language-"] ::selection {
  background: #e7f1ff; }

.page-wrapper a {
  text-decoration: none;
  color: #0078cf; }

.page-wrapper blockquote {
  padding: 1em 2em;
  color: #6a737d;
  margin: 1em 0;
  background: #e7f1ff;
  font-style: italic; }

.page-wrapper code {
  padding: 0 0.25em;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px; }

.page-wrapper ul {
  list-style: none; }
  .page-wrapper ul > li {
    position: relative;
    line-height: 1.4em; }
    .page-wrapper ul > li:before {
      content: "";
      position: absolute;
      top: 0.6em;
      left: -13px;
      width: 8px;
      height: 1px;
      background-color: #353535; }
