@media screen and (min-width: 851px) {
  .pages #nav {
    display: block !important; }
  .pages #overlay {
    display: none !important; }
  .pages header {
    display: block;
    background: none;
    height: 0; }
    .pages header .logo-wrapper .logo {
      display: none; }
  .qgrid-examples {
    transition: ease all .5s;
    top: 80px;
    right: 37px; } }

@media screen and (min-width: 851px) and (max-width: 1470px) {
  .pages header {
    position: absolute; }
  .qgrid-examples {
    transition: ease .5s;
    top: 33px;
    right: 100px; } }

@media screen and (max-width: 850px) {
  .news {
    background-color: yellowgreen;
    display: flex;
    flex-direction: column; }
  .index ul.features li,
  .index ul.features li:nth-child(2n+1) {
    flex-direction: column; }
    .index ul.features li div[class^="image-"],
    .index ul.features li:nth-child(2n+1) div[class^="image-"] {
      background-position: 50% 50%;
      flex-basis: auto; }
    .index ul.features li .image-virtualize,
    .index ul.features li:nth-child(2n+1) .image-virtualize {
      background-size: 112px 121px; }
    .index ul.features li .image-css,
    .index ul.features li:nth-child(2n+1) .image-css {
      background-size: 148.5px 71px; }
    .index ul.features li .image-js,
    .index ul.features li:nth-child(2n+1) .image-js {
      background-size: 100px 100px; }
    .index ul.features li .image-custom,
    .index ul.features li:nth-child(2n+1) .image-custom {
      background-size: 115px 98px; }
    .index ul.features li .description,
    .index ul.features li:nth-child(2n+1) .description {
      flex-basis: auto;
      text-align: center; }
      .index ul.features li .description p,
      .index ul.features li:nth-child(2n+1) .description p {
        text-align: center;
        position: relative;
        max-width: none;
        margin-right: 20px;
        margin-left: 20px; }
  .pages main {
    margin-left: 0; }
  .pages .page-wrapper {
    margin: 0 20px 40px 20px; }
    .pages .page-wrapper h1:first-child {
      margin-top: 80px;
      font-size: 40px; }
    .pages .page-wrapper h2 {
      font-size: 1.5em; }
    .pages .page-wrapper .github-link2 {
      border: none; }
      .pages .page-wrapper .github-link2 span {
        display: none; }
  .pages header {
    display: block; }
    .pages header .logo-wrapper {
      margin: 0;
      position: absolute;
      text-align: center;
      width: 100%;
      top: 17px;
      z-index: -1; }
      .pages header .logo-wrapper .logo {
        font-size: 31px;
        margin: 0; }
    .pages header .qgrid-examples {
      top: 27px;
      right: 67px; }
      .pages header .qgrid-examples::before {
        content: url("../assets/images/qgex-small.svg"); }
  .pages .nav-trigger {
    display: block; }
  .pages #nav {
    display: none;
    padding-top: 0;
    z-index: 12; }
    .pages #nav nav {
      height: calc(100% - 95px); }
    .pages #nav .logo {
      display: none; } }

@media screen and (max-width: 540px) {
  .index main .get-started h1 {
    font-size: 22px;
    line-height: 22px; }
  .index main .get-started h2 {
    font-size: 18px;
    line-height: 18px; }
  .index main .get-started .frameworks li {
    font-size: 2.5em;
    margin-bottom: 10px; } }
